{% extends 'base.html' %}
{% load static %}

{% block body %}


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

        a:hover {
            background-color: #ddd;
            color: blue;
        }

        .previous {
            background-color: ;
            color: black;
        }

        .next {
            background-color: ;
            color: black;
        }

        .round {
            border-radius: 50%;
        }

    </style>

			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Departments</h3>
                            </div>
						</div>
					</div>
					<!-- /Page Header -->

                    <div class="department-group-form">
                        <form method="get">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="search_id" value="{{ request.GET.search_id }}"
                                               class="form-control" placeholder="Search by ID ...">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="search_name" value="{{ request.GET.search_name }}"
                                               class="form-control" placeholder="Search by Name ...">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="search-department-btn">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
					</div>

					<div class="row">
						<div class="col-sm-12">

							<div class="card card-table">
								<div class="card-body">

									<!-- Page Header -->
									<div class="page-header">
										<div class="row align-items-center">
											<div class="col">
												<h3 class="page-title">Departments</h3>
											</div>
											<div class="col-auto text-end float-end ms-auto download-grp">
                                                <a href="{% url 'download_department_details' %}"
                                                   class="btn btn-outline-primary me-2"><i class="fas fa-download"></i>
                                                    Download</a>
                                                <a href="{% url 'add-department' %}" class="btn btn-primary"><i
                                                        class="fas fa-plus"></i></a>
											</div>
										</div>
									</div>
									<!-- /Page Header -->
                                    <div class="table-responsive">
                                        <form method="get">
                                            <label>Show
                                                <select name="entries" onchange="this.form.submit()">
                                                    <option value="10"
                                                            {% if request.GET.entries == "10" %}selected{% endif %}>10
                                                    </option>
                                                    <option value="25"
                                                            {% if request.GET.entries == "25" %}selected{% endif %}>25
                                                    </option>
                                                    <option value="50"
                                                            {% if request.GET.entries == "50" %}selected{% endif %}>50
                                                    </option>
                                                    <option value="100"
                                                            {% if request.GET.entries == "100" %}selected{% endif %}>100
                                                    </option>
                                                </select> entries
                                            </label>
                                        </form>
                                    </div>
									<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
										<thead class="student-thread">
											<tr>

                                            <th>ID</th>
												<th>Name</th>
												<th>HOD</th>
                                                {% comment %}
                                                    <th>Started Year</th> {% endcomment %}
                                                {% comment %}
                                                    <th>No of Students Enrolled</th> {% endcomment %}
												<th class="text-end">Action</th>
											</tr>
										</thead>
										<tbody>

                                        {% for i in dep %}

                                            <tr>

                                            <td>{{ i.dept_id }}</td>
												<td>
													<h2>
                                                        <a>{{ i.dept_name }}</a>
													</h2>
												</td>
                                                <td>{{ i.hod }}</td>
                                                {% comment %}
                                                    <td> 2000</td> {% endcomment %}

                                                {% comment %}
                                                    <td>180</td> {% endcomment %}
												<td class="text-end">
													<div class="actions">
                                                        <form action="{% url 'delete_department' i.dept_id %}"
                                                              method="POST">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-sm bg-danger-light">
                                                                <i class="feather-trash-2"></i>
                                                            </button>
                                                        </form>
                                                        <a href="{% url 'edit-department' i.dept_id %}" data-bs-
                                                           class="btn btn-sm bg-danger-light">
															<i class="feather-edit"></i>
														</a>
													</div>
												</td>
											</tr>
                                        {% endfor %}

										</tbody>
									</table>
                                    <div class="entries-info">
                                        Total number of entries: {{ dep1.paginator.count }}
                                    </div>
                                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
                                         aria-live="polite">Page {{ dep1.number }} of {{ dep1.paginator.num_pages }}
                                    </div>
                                    <div>
                                        {% if dep1.has_previous %}
                                            <a href="?page={{ dep1.previous_page_number }}" class="previous round">&#8249;
                                                Previous</a>

                                        {% endif %}
                                        {% if dep1.has_next %}
                                            <a href="?page={{ dep1.next_page_number }}" class="next round">&#8250;
                                                Next</a>

                                        {% endif %}
                                    </div>
							</div>
						</div>
					</div>
				</div>
            </div>

		{% endblock body %}
