{% extends 'base.html' %}
{% load static %}
{% block body %}



    <!-- Page Wrapper -->
    <div class="page-wrapper">
        <div class="content container-fluid">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Edit Time Table</h3>

                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="form-title"><span>Time Table</span></h5>
                                    </div>

                                    <div class="col-12 col-sm-6">
                                        <div class="form-group local-forms">
                                            <label>Faculty <span class="login-danger">*</span></label>
                                            <div class="col-md-12">
                                                <select class="form-control" name="faculty">
                                                    {% for i in faculty %}
                                                        <option value="{{ i.faculty_id }}"
                                                                {% if i.faculty_id == existing_data.faculty_id %}selected{% endif %}>
                                                            {{ i.faculty_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group local-forms">
                                            <label>Semester <span class="login-danger">*</span></label>
                                            <div class="col-md-12">
                                                <select name="time_table_subject.time_table.division"
                                                        class="form-control form-select">
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group local-forms">
                                            <label>Division <span class="login-danger">*</span></label>
                                            <div class="col-md-12">
                                                <select name="time_table_subject.time_table.division"
                                                        class="form-control form-select">
                                                    <option value="DA">DA</option>
                                                    <option value="DB">DB</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 local-forms">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-4">Subject</label>
                                            <div class="col-md-12">
                                                <select name="subject" class="form-control form-select">
                                                    {% for i in subject %}
                                                        <option value="{{ i.subject_code }}"
                                                                {% if i.subject_code == existing_data.subject_code %}selected{% endif %}>
                                                            {{ i.subject_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 local-forms">
                                        <div class="form-group row">
                                            <label class="col-form-label col-md-4">Day</label>
                                            <div class="col-md-12">
                                                <select name="week_day" class="form-control form-select">
                                                    <option value="Monday">Monday</option>
                                                    <option value="Tuesday">Tuesday</option>
                                                    <option value="Wednesday">Wednesday</option>
                                                    <option value="Thursday">Thursday</option>
                                                    <option value="Friday">Friday</option>
                                                    <option value="Saturday">Saturday</option>
                                                    <option value="Sunday">Sunday</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group local-forms">
                                            <label>Start Time <span class="login-danger">*</span></label>
                                            <input type="time" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group local-forms">
                                            <label>End Time <span class="login-danger">*</span></label>
                                            <input type="time" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="student-submit">
                                            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Wrapper -->
{% endblock %}
