{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Forgot Password</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

		<!-- Feathericon CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/feather/feather.css' %}">

		<!-- Pe7 CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/icons/flags/flags.css' %}">

		<!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

		<!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    </head>
    <body>

		<!-- Main Wrapper -->
        <div class="main-wrapper login-body">
            <div class="login-wrapper">
            	<div class="container">
                	<div class="loginbox">

                        <div class="login-right">
							<div class="login-right-wrap">
								<h1>Reset Password</h1>
								<p class="account-subtitle">Let Us Help You</p>

								<!-- Form -->
                                <form method="POST">
                                    {% csrf_token %}
									<div class="form-group">
										<label >Enter your registered email address <span class="login-danger">*</span></label>
                                        {{ form.email }}

										<input class="form-control" type="text" >
										<span class="profile-views"><i class="fas fa-envelope"></i></span>
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block" type="submit">Reset My Password</button>
									</div>
									<div class="form-group mb-0">
                                        <button href="{% url 'login' %}" class="btn btn-primary primary-reset btn-block" type="submit"
                                                value="reset">Back to Login
                                        </button>
									</div>
								</form>
								<!-- /Form -->

							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- /Main Wrapper -->

		<!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

		<!-- Feather Icon JS -->
        <script src="{% static 'assets/js/feather.min.js' %}"></script>

		<!-- Custom JS -->
        <script src="{% static 'assets/js/script.js' %}"></script>

    </body>

</html>