{% extends 'base.html' %}
{% load static %}

{% block body %}

			<!-- Page Wrapper -->
            <div class="page-wrapper">

                <div class="content container-fluid">
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="page-sub-header">
                                    <h3>Welcome, {{  user.username }}!</h3> 

                                </div>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<!-- Overview Section -->
					<div class="row">
                        <div class="col-xl-3 col-sm-6 col-12 d-flex">
                            <div class="card bg-comman w-100">
                                <div class="card-body">
                                    <div class="db-widgets d-flex justify-content-between align-items-center">
                                        <div class="db-info">
                                            <h6>Total Faculty</h6>
                                            <h3>{{ faculty_count }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-xl-3 col-sm-6 col-12 d-flex">
                            <div class="card bg-comman w-100">
                                <div class="card-body">
                                    <div class="db-widgets d-flex justify-content-between align-items-center">
                                        <div class="db-info">
                                            <h6>Total Department</h6>
                                            <h3>{{ department_count }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<!-- /Overview Section -->

                    <!-- Teacher Dashboard -->
                    <div class="row">
                        <div class="col-12 col-lg-12 col-xl-8">

                            <div class="row">
                                <div class="col-12 col-lg-8 col-xl-8 d-flex">
                                    <div class="card flex-fill comman-shadow">
                                        <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <h5 class="card-title">Reschedule</h5>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="pt-3 pb-3">
                                            <div class="table-responsive lesson">
                                                <table class="table table-center">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="date">
                                                                <b>Ryan</b>
                                                                <p>3.1 Ipsuum dolor</p>
                                                                <ul class="teacher-date-list">
                                                                    <li><i class="fas fa-calendar-alt me-2"></i>Sep 5,
                                                                        2022
                                                                    </li>
                                                                    <li>|</li>
                                                                    <li><i class="fas fa-clock me-2"></i>09:00 - 10:00
                                                                        am
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="lesson-confirm">
                                                                <a href="#">Confirmed</a>
                                                            </div>
                                                            <button type="submit" class="btn btn-info">Reschedule
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="date">
                                                                <b>Jonathon</b>
                                                                <p>3.1 Ipsuum dolor</p>
                                                                <ul class="teacher-date-list">
                                                                    <li><i class="fas fa-calendar-alt me-2"></i>Sep 5,
                                                                        2022
                                                                    </li>
                                                                    <li>|</li>
                                                                    <li><i class="fas fa-clock me-2"></i>09:00 - 10:00
                                                                        am
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="lesson-confirm">
                                                                <a href="#">Confirmed</a>
                                                            </div>
                                                            <button type="submit" class="btn btn-info">Reschedule
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            
                <!-- /Teacher Dashboard -->
            </div>

{% endblock body %}
	