{% extends 'base.html' %}
{% load static %}

{% block body %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

        a:hover {
            background-color: #ddd;
            color: blue;
        }

        .previous {
            background-color: ;
            color: black;
        }

        .next {
            background-color: ;
            color: black;
        }

        .round {
            border-radius: 50%;
        }

    </style>


	
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
                                <h3 class="page-title">Faculty</h3>

                            </div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="student-group-form">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by ID ...">
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search by Name ...">
								</div>
							</div>

                            <div class="col-lg-2">
								<div class="search-student-btn">
									<button type="btn" class="btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">

							<div class="card card-table">
								<div class="card-body">

									<!-- Page Header -->
									<div class="page-header">
										<div class="row align-items-center">
											<div class="col">
                                                <h3 class="page-title">Faculty</h3>
											</div>
											<div class="col-auto text-end float-end ms-auto download-grp">
                                                <a href="{% url 'teacher' %}"
                                                   class="btn btn-outline-gray me-2 active"><i class="feather-list"></i></a>

                                                <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
                                                <a href="{% url 'add-teacher' %}" class="btn btn-primary"><i
                                                        class="fas fa-plus"></i></a>
											</div>
										</div>
									</div>
									<!-- /Page Header -->

									<div class="table-responsive">
										<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                                            <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show
                                                <select name="DataTables_Table_0_length"
                                                        aria-controls="DataTables_Table_0" class="">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label>
                                            </div>
											<thead class="student-thread">
												<tr>
													<th>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox"  value="something">
														</div>
													</th>
													<th>ID</th>
													<th>Name</th>
                                                    <th>Date Of Birth</th>
													<th>Gender</th>
                                                    <th>Designation</th>
                                                    <th>Qualificaton</th>
													<th>Mobile Number</th>
													<th>Address</th>
                                                    <th>Join Date</th>
													<th class="text-end">Action</th>
												</tr>
											</thead>
											<tbody>
                                            {% for i in fac %}
												<tr>
													<td>
														<div class="form-check check-tables">
															<input class="form-check-input" type="checkbox"  value="something">
														</div>
													</td>
                                                    <td>
                                                        {{ i.faculty_id }}
                                                    </td>
													<td>
														<h2 class="table-avatar">

                                                            <a href="{% url 'teacher-details' %}">{{ i.name }}</a>
														</h2>
													</td>
                                                    <td>{{ i.date_of_birth }}</td>
													<td>Female</td>
                                                    <td>{{ i.designation }}</td>
                                                    <td>{{ i.qualification }}</td>
                                                    <td>{{ i.phone }}</td>
                                                    <td>{{ i.address }}</td>
                                                    <td>{{ i.join_date }}</td>
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
                                                            <a href="{% url 'edit-teacher' %}"
                                                               class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
                                            {% endfor %}
											</tbody>
										</table>
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status"
                                             aria-live="polite">Showing 1 to 10 of 10 entries
                                        </div>
                                        <a href="#" class="previous">&laquo; Previous</a>
                                        <a href="#" class="next">Next &raquo;</a>

                                        <a href="#" class="previous round">&#8249;</a>
                                        <a href="#" class="next round">&#8250;</a>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
			<!-- /Page Wrapper -->

{% endblock body %}