{% extends 'base.html' %}
{% load static  %}

{% block body %}
	

			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<div class="page-sub-header">
									<h3 class="page-title">Teachers Details</h3>

                                </div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									
									<div class="student-profile-head">
										
										<div class="row">
											<div class="col-lg-4 col-md-4">
												<div class="profile-user-box">
													
													<div class="names-profiles">
														<h4>{{ faculty.faculty_name }}</h4>
														<h5>{{ faculty.department.dept_name }}</h5>
													</div>
												</div>
											</div>


                                        </div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-4">
									<div class="student-personals-grp">
										<div class="card">
											<div class="card-body">
												<div class="heading-detail">
													<h4>Personal Details :</h4>
												</div>
												<div class="personal-activity">
													<div class="personal-icons">
														<i class="feather-user"></i>
													</div>
													<div class="views-personal">
														<h4>Name</h4>
														<h5>{{ faculty.faculty_name }}</h5>
													</div>
												</div>
												<div class="personal-activity">
													<div class="personal-icons">
														<img src="{% static 'assets/img/icons/buliding-icon.svg' %}" alt="">
													</div>
													<div class="views-personal">
														<h4>Department </h4>
														<h5>{{ faculty.department.dept_name }}</h5>
													</div>
												</div>
												<div class="personal-activity">
													<div class="personal-icons">
														<i class="feather-phone-call"></i>
													</div>
													<div class="views-personal">
														<h4>Mobile</h4>
														<h5>{{ faculty.phone }}</h5>
													</div>
												</div>
												<div class="personal-activity">
													<div class="personal-icons">
														<i class="feather-mail"></i>
													</div>
													<div class="views-personal">
														<h4>Email</h4>
														<h5>{{ faculty.email }}</h5>
													</div>
												</div>
												
												<div class="personal-activity">
													<div class="personal-icons">
														<i class="feather-calendar"></i>
													</div>
													<div class="views-personal">
														<h4>Date of Birth</h4>
														<h5>{{ faculty.date_of_birth }}</h5>
													</div>
												</div>
												
												<div class="personal-activity mb-0">
													<div class="personal-icons">
														<i class="feather-map-pin"></i>
													</div>
													<div class="views-personal">
														<h4>Address</h4>
														<h5>{{ faculty.address }}</h5>
													</div>
												</div>
												<div class="personal-activity">
													<div class="personal-icons">
														<i class="feather-calendar"></i>
													</div>
													<div class="views-personal">
														<h4>Date of Birth</h4>
														<h5>{{ faculty.join_date }}</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
					</div>
				</div>


            </div>
			<!-- /Page Wrapper -->


    <!-- /Main Wrapper -->

		
{% endblock body %}
	