{% extends 'base.html' %}
{% load static %}

{% block body %}
	

			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title">Time Table</h3>

                            </div>
						</div>
					</div>
					<!-- /Page Header -->
					<div class="faculty-group-form">
                        <form method="get">
							<div class="row">
								{% comment %} <div class="col-lg-3 col-md-6">
									<div class="form-group">
										<input type="text" name="search_id" value="{{ request.GET.search_id }}"
											   class="form-control" placeholder="Search by ID ...">
									</div>
								</div> {% endcomment %}
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<input type="text" name="search_name" value="{{ request.GET.search_name }}"
											   class="form-control" placeholder="Search by Subject ...">
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<input type="text" name="search_faculty" value="{{ request.GET.search_faculty }}"
											   class="form-control" placeholder="Search by Faculty Name ...">
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<input type="text" name="search_semester" value="{{ request.GET.search_semester }}"
											   class="form-control" placeholder="Search by Semester ...">
									</div>
								</div>
								<div class="col-lg-3 col-md-6">
									<div class="form-group">
										<input type="text" name="search_department" value="{{ request.GET.search_department }}"
											   class="form-control" placeholder="Search by Department ...">
									</div>
								</div>
								<div class="col-lg-2">
									<div class="search-faculty-btn">
										<button type="submit" class="btn btn-primary">Search</button>
									</div>
								</div>
							</div>
						</form>
                    </div>
					<div class="row">
						<div class="col-sm-12">

							<div class="card card-table">
								<div class="card-body">
									<!-- Page Header -->
									<div class="page-header">
										<div class="row align-items-center">
											<div class="col">
												<h3 class="page-title">Time Table</h3>
											</div>
											<div class="col-auto text-end float-end ms-auto download-grp">
												<a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a>
                                                <a href="{% url 'add-time-table' %}" class="btn btn-primary"><i
                                                        class="fas fa-plus"></i></a>
											</div>
										</div>
									</div>
									<!-- /Page Header -->
									<div class="table-responsive">
										<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
											<thead class="student-thread">
												<tr>
													<th>Subject Code</th>
													<th>Faculty Name</th>
													<th>Subject</th>
													<th>Class</th>
													<th>Department</th>
													<th>Start Time</th>
													<th>End Time</th>
													<th class="text-end">Action</th>
												</tr>
											</thead>
											<tbody>
												{% for time_table_subject in time_tables %}
												<tr>
													<td>
														{% for subject in time_table_subject.subject.all %}
															{{ subject.subject_code }}
														{% endfor %}
													</td>
													<td>
														{% for faculty in time_table_subject.faculty.all %}
															{{ faculty.faculty_name }}
														{% endfor %}
													</td>
													<td>
														{% for subject in time_table_subject.subject.all %}
															{{ subject.subject_name }}
														{% endfor %}
													</td>
													<td>{{ time_table_subject.time_table.branch.name }} {{ time_table_subject.time_table.semester }} {{ time_table_subject.time_table.division }}</td>
													<td>{{ time_table_subject.time_table.branch.dept_name }}</td>
													<td>{{ time_table_subject.start_time }}</td>
													<td>{{ time_table_subject.ends_time }}</td>
													<td class="text-end">
														<div class="actions">
															<a href="javascript:;" class="btn btn-sm bg-success-light me-2">
																<i class="feather-eye"></i>
															</a>
															<a href="{% url 'edit-time-tabel' %}" class="btn btn-sm bg-danger-light">
																<i class="feather-edit"></i>
															</a>
														</div>
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>


            </div>
			<!-- /Page Wrapper -->


    <!-- /Main Wrapper -->

		{% endblock body %}